.square {
  border: none;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  padding: 0;
  text-align: center;
  width: 64px;
  color: white;
}

.light {
  background: #ffffd9;
}

.light.active {
  background: #ffff69;
}

.dark {
  background: #689c5a;
}

.dark.active {
  background: #9ec232;
}

/* 
.square:hover {
  cursor: pointer;
  filter: brightness(50%);
} */

.square:hover {
  cursor: pointer;
}

.piece {
  height: 80%;
  margin-top: 10%;
}